.flex{
    display:flex;
}
.center-items{
    align-items: center;

}
.justify-items{
    justify-content:center;
}
.uppercase{
    text-transform: uppercase;
}
.semi-bold{
    font-weight: bolder;
}
.space-between{
    justify-content: space-between;
    height: 40px;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}